name: Functions CI

on:
  push:
    paths:
      - 'functions/**'
  pull_request:
    paths:
      - 'functions/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install dependencies (functions)
        run: |
          cd functions
          npm ci
      - name: Build functions
        run: npm run build --prefix functions
